<h2>Interpolation and property binding</h2>
<p>{{interpolationAnswer}}</p>
<p>{{propBindAnswer}}</p>
<p [style.color]="colors[2]">Text color of this paragraph is set by property binding, which the value is "<span [innerHTML]="colors[2]"></span>"</p>
<p>There are three colors in the colors array:
  <span [style.color]="colors[0]" [innerHTML]="colors[0]"></span> ,
  <span [style.color]="colors[1]" [innerHTML]="colors[1]"></span> ,
  <span [style.color]="colors[2]" [innerHTML]="colors[2]"></span>
</p>
