/* You can add global styles to this file, and also import other style files */

.navbar{
  grid-gap: 10pt;
  grid-auto-flow: row;
}

.navbar a{
  padding: 20pt;
  font-size: 16pt;
  color: cornflowerblue;
}

Table{
  margin: auto;
  padding: 5px;
  text-align: center;
  width: 80%;
  border: solid orange;
}

